<!doctype html>
<html>
  <head><title>Nuevo Heroe</title></head>
  <body>
    <h1>Agregar nuevo heroe</h1>
    <form action="/heroes" method="post">
      <input type="text" name="nombre">
      <input type="text" name="nivel_de_poder">
      <input type="submit" value="agregar">
    </form>
  </body>
</html>
